@charset "utf-8";

html {
    height: 100vh;
    width: 100vw;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
}

button {
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 12px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 1px;
    height: 30px;
    width: 20vw;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    width: 20vw;
}

.digit, .operator, #decimal, #Enter {
    flex-grow: 1;
    aspect-ratio: 1/1;
    margin: 5px;
}

.operator {
    background-color: steelblue;
    color: white;
    border: none;
}

#Backspace, #clear {
    margin: 15px 5px;
    height: 25px;
    background-color: rgb(134, 134, 134);
    color: white;
    border: none;
}

#Backspace {
    flex-grow: 2.25;
}

#clear {
    flex-grow: 1;
}